<!-- <h1>menu</h1> -->
<!-- <ul>
    <li> <a routerLink="/contact"> contact</a></li>
    <li> <a routerLink="/produits">produits</a></li>
    <li><a routerLink="/contact">contact</a></li>
</ul> -->
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" routerLink="/accueil" routerLinkActive="active">Accueil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/produits" routerLinkActive="active">Produits</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
    </li>
</ul>